{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}">
{% endblock %}

{% block title %}European League of Football Stats{% endblock %}

{% block content %}

<div class="row">
     <div class="col-lg-12">
        <h1 class="big-heading">Add A Play</h1>
    </div>
</div>

<br>
<br>

<div class="row">
    <div class="col-lg-12">
      <form action="" method="post" class="form" role="form">
        {{ form.csrf_token() }}
       <d1>
           <p>Quarter</p>
        {% for subfield in form.quarter: %}
            <tr>
            <td> {{ subfield }} </td>
            <td> {{ subfield.label }} </td>
            </tr>
        {% endfor %}
        <br>
        <br>
        <p>Select the Down</p>
        {% for subfield in form.down: %}
            <tr>
            <td> {{ subfield }} </td>
            <td> {{ subfield.label }} </td>

            </tr>
        {% endfor %}
        <br>
        <br>
           <script>
            function outputUpdate(yards_to_go) {
            document.querySelector('#selected-yards').value = yards_to_go;
            }
            </script>
        <p>Yards to go</p>
        <div class="slidecontainer">
        {{ wtf.form_field(form.yards_to_go, class='yards-selector form-control form-range', min="0", max="100",
            step="0.5", list=tickmarks, oninput="outputUpdate(value)", placeholder='yards to go') }}
            <output for="form.yards_to_go" id="selected-yards">{{ form.yards_to_go.data }}</output>

        </div>
        <br>
        <p>Select the half</p>
        {{ wtf.form_field(form.field_pos_half, class='form-control',) }}
        <br>
            <script>
            function outputUpdate(field_position) {
            document.querySelector('#selected-field-position').value = field_position;
            }
            </script>
        <p>Select the field position</p>
        {{ wtf.form_field(form.field_pos_yard, class='yards-selector form-control form-range', min="0", max="100",
            step="0.5", list=tickmarks, oninput="outputUpdate(value)",) }}
            <output for="form.yards_to_go" id="selected-field-position">{{ form.field_pos_yard.data }}</output>
        <br>
        <p>Game Time</p>
        {{ wtf.form_field(form.time, class='form-control game-time', min="00:00", max="15:00",) }}
        <br>
        <p>Select the Formation</p>
        {{ wtf.form_field(form.shotgun, class='form-control', placeholder='yards to go') }}
        <br>
        <p>Describe the Play</p>
        {{ wtf.form_field(form.play_description, class='form-control', placeholder='describe the play - e.g. Mueller pass incomplete deep right to Grehl.') }}
        </d1>
        <br>
       <input type=submit class='btn btn-warning btn-block'>
      </form>
    </div>
</div>

{% endblock %}