{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
European League of Football Stats
{% endblock %}

{% block content %}
<section class ="colored-section "id="title">
<div class="row">
    <div class="col-lg-6">
        <h1 class="big-heading">European League of Football Stats</h1>
    </div>
    <div class="col-lg-6">
        {% if game_info == []: %}
            <h5>No Game Selected Yet</h5>
        {% else: %}
            {% for game in game_info:%}
        <a class="game-link" href="{{ url_for('show_game', index=game.id)}}"><h2>{{game.home}} vs. {{game.away}} - {{game.date}}</h2></a>
        {% endfor %}
        {% endif %}
    </div>
</div>
</section>



{% endblock %}