{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='css/styles.css')}}"
      {% endblock %}

{% block title %}European League of Football Stats{% endblock %}

{% block content %}
<h1>European League of Football Stats</h1>
{% if game_info == []: %}

<h5>No Game Selected Yet</h5>

{% else: %}

    {% for game in game_info:%}
        <h2>{{game.home}} vs. {{game.away}} - {{game.date}}</h2>
    {% endfor %}
{% endif %}

<a class="btn btn-primary btn-lg" href="/addgame" role="button">Add Game</a> <a class="btn btn-primary btn-lg" href="/drive" role="button">Add Drive</a> <a class="btn btn-primary btn-lg" href="/play" role="button">Add Play</a>

{% endblock %}